body {
  font-family: Cambria, "Times New Roman", serif;
  font-size: 14pt;
  line-height: 1.4;
}

p, li, table, th, td, blockquote {
  font-family: Cambria, "Times New Roman", serif;
}

code, pre {
  font-family: Consolas, "Courier New", monospace;
}
